numpy==1.14.2
atari-py==0.1.1
gym==0.10.4
ptan==0.3
opencv-python==3.4.0.12
scipy==1.0.1
torch==0.4
torchvision==0.2.0
tensorboardX==1
tensorflow==1.7.0
tensorboard==1.7.0
pybullet==1.9.6
matplotlib==2.2.2
